$primaryColor: #4527a4;

.search-option {
  position: relative;
}
.search-btn {
  position: absolute;
  right: 0;
  top: 24px;
  padding: 7px 8px;
  background: $primaryColor;
  border: none;
  color: white;
}
.suggestion {
  display: flex;
  align-items: center;
  gap: 10px;
}
.suggestion span svg {
  height: 20px;
  fill: orangered;
}

// Leaflet Bottom Left Styles
.leaflet-bottom.leaflet-left {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.leaflet-bottom.leaflet-left .leaflet-control-zoom.leaflet-bar.leaflet-control {
  width: fit-content;
  order: 2;
}
.leaflet-bottom.leaflet-left .custom-layers-control {
  width: fit-content;
  order: 3;
}

// Get Location Control
.get-current-location-control {
  cursor: pointer;
}
.get-current-location-control svg {
  height: 22px;
  width: 22px;
  fill: green;
  background: white;
  padding: 4px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  cursor: pointer;
}

// Custom Layers Control
.custom-layers-control .layers-wrapper {
  position: relative;
}

.custom-layers-control .layers-wrapper .layers-trigger {
  cursor: pointer;
  display: inline-block;
  position: relative;
  height: 63px;
  width: 54px;
  border-radius: 8px;
}
.custom-layers-control .layers-wrapper .layers-trigger img {
  width: 100%;
  height: 100%;
}
.custom-layers-control .layers-wrapper .layers-trigger p {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
}

.custom-layers-control .layers-wrapper .layer-options {
  display: none;
  background-color: white;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3px;
  left: 59px;
}
.custom-layers-control .layers-wrapper .layer-options .layer-option {
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  cursor: pointer;
}
.custom-layers-control .layers-wrapper .layer-options .layer-option:hover img {
  border: 1px solid blue;
  border-radius: 7px;
}
.custom-layers-control .layers-wrapper .layer-options .layer-option:hover span {
  color: blue;
}
.custom-layers-control .layers-wrapper .layer-options .layer-option img {
  width: 38px;
  margin: 0 auto;
}

.custom-layers-control .layers-wrapper:hover .layer-options {
  display: flex;
}

// Map Osm Location Suggestions Css
.map-osm-suggestions {
  border: 1px solid rgb(204, 204, 204);
  padding: 10px;
  position: absolute;
  background: white;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  width: 301px;
}
.map-osm-suggestions .suggestion {
  gap: 5px;
}
// From To Location Div CSS Starts Here
.from-to-location-div {
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  gap: 10px;
}
.from-to-location-div .from-input,
.from-to-location-div .destination-input {
  display: flex;
  align-items: center;
  gap: 5px;
}
.from-to-location-div .from-input svg {
  height: 25px;
  fill: green;
}
.from-to-location-div .destination-input svg {
  height: 25px;
  fill: red;
}
// From To Location Div CSS Ends Here

.leaflet-routing-container .leaflet-routing-collapse-btn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M227.7 11.7c15.6-15.6 40.9-15.6 56.6 0l216 216c15.6 15.6 15.6 40.9 0 56.6l-216 216c-15.6 15.6-40.9 15.6-56.6 0l-216-216c-15.6-15.6-15.6-40.9 0-56.6l216-216zm87.6 137c-4.6-4.6-11.5-5.9-17.4-3.5s-9.9 8.3-9.9 14.8v56H224c-35.3 0-64 28.7-64 64v48c0 13.3 10.7 24 24 24s24-10.7 24-24V280c0-8.8 7.2-16 16-16h64v56c0 6.5 3.9 12.3 9.9 14.8s12.9 1.1 17.4-3.5l80-80c6.2-6.2 6.2-16.4 0-22.6l-80-80z'/%3E%3C/svg%3E") !important;
  background-position: center center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  margin-top: -6px;
  margin-left: -2px;
}
// Css For Full Screen Icon
.leaflet-touch .leaflet-bar a {
  background-position: center;
}
.leaflet-control-container .leaflet-control-zoom-fullscreen {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M32 32C14.3 32 0 46.3 0 64v96c0 17.7 14.3 32 32 32s32-14.3 32-32V96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7 14.3 32 32 32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H64V352zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32h64v64c0 17.7 14.3 32 32 32s32-14.3 32-32V64c0-17.7-14.3-32-32-32H320zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32v64H320c-17.7 0-32 14.3-32 32s14.3 32 32 32h96c17.7 0 32-14.3 32-32V352z'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
#print-map-btn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

// Settings Css Starts here
.my-tab-panel .components-tab-panel__tabs {
  display: flex;
  justify-content: space-between;
}
.components-button.components-tab-panel__tabs-item {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
}
.components-button.components-tab-panel__tabs-item.active-tab {
  background-color: #635bbc;
  color: #ffffff;
}

// ToggleControl Style
.components-form-toggle.is-checked .components-form-toggle__track {
  background-color: #635bbc;
  border-color: #635bbc;
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus) #fff,
    0 0 0 calc(var(--wp-admin-border-width-focus) * 2) #635bbc;
}
